@model Test.Models.Main
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/select2/select2.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
    <div class="page-content-wrapper">

        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <div class="row">
                <div class="col-md-8">
                    <br />
                    <div class="portlet box blue" id="form_wizard_1">
                        <br />
                        <div>&nbsp;</div>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i> Form Wizard - <span class="step-title">
                                    Step 1 of 4
                                </span>
                            </div>
                            <div class="tools hidden-xs">
                                <a href="javascript:;" class="collapse">
                                    </a>

                              
                                <a href="@Url.Action("Page","Home")" class="config">
                                    @*<i class="fa fa-pencil"></i>*@
                                </a>
                              
                                   
                                    @*<a href="javascript:;" class="remove">
                                    </a>*@
                                @*<div class="actions">
                                    <div class="btn-group">
                                        <a class="btn btn-sm blue dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                            Actions <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="@Url.Action("Page","Home")">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form action="~/Home/test1" class="form-horizontal" id="submit_form" method="POST">
                                <div class="form-wizard">
                                    <div class="form-body">
                                        <ul class="nav nav-pills nav-justified steps">
                                            <li>
                                                <a href="#tab1" data-toggle="tab" class="step">
                                                    <span class="number">
                                                        1
                                                    </span>
                                                    <span class="desc">
                                                        <i class="fa fa-check"></i> Account Setup
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab2" data-toggle="tab" class="step">
                                                    <span class="number">
                                                        2
                                                    </span>
                                                    <span class="desc">
                                                        <i class="fa fa-check"></i> Profile Setup
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab3" data-toggle="tab" class="step active">
                                                    <span class="number">
                                                        3
                                                    </span>
                                                    <span class="desc">
                                                        <i class="fa fa-check"></i> Billing Setup
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab4" data-toggle="tab" class="step">
                                                    <span class="number">
                                                        4
                                                    </span>
                                                    <span class="desc">
                                                        <i class="fa fa-check"></i> Confirm
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                        <div id="bar" class="progress progress-striped" role="progressbar">
                                            <div class="progress-bar progress-bar-success">
                                            </div>
                                        </div>
                                        <div class="tab-content">
                                            <div class="alert alert-danger display-none">
                                                <button class="close" data-dismiss="alert"></button>
                                                You have some form errors. Please check below.
                                            </div>
                                            <div class="alert alert-success display-none">
                                                <button class="close" data-dismiss="alert"></button>
                                                Your form validation is successful!
                                            </div>
                                            <div class="tab-pane active" id="tab1">
                                                <h3 class="block">Provide your account details</h3>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.P_id, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.P_id, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.P_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>







                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Fname, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Fname, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Fname, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Mname, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Mname, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Mname, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Lname, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Lname, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Lname, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Age, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Age, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Age, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Sex, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        Male
                                                        @Html.RadioButtonFor(model => model.Demos.Sex, "Mal")

                                                        Female
                                                        @Html.RadioButtonFor(model => model.Demos.Sex, "Fem")

                                                        Other
                                                        @Html.RadioButtonFor(model => model.Demos.Sex, "Oth")


                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Education_id, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.Demos.Education_id, ViewBag.educalist as SelectList, "Select Education ", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Demos.Education_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Mariatal_id, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.Demos.Mariatal_id, ViewBag.maritilist as SelectList, "Select Marital Status", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Demos.Mariatal_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Religion_id, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.Demos.Religion_id, ViewBag.religlist as SelectList, "Select Religion", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Demos.Religion_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Occupation_id, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.Demos.Occupation_id, ViewBag.occulist as SelectList, "Select Occupation", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Demos.Occupation_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Demos.Pincode, htmlAttributes: new { @class = "control-label col-md-3" })
                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Demos.Pincode, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Demos.Pincode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>




                                            </div>
                                            <div class="tab-pane" id="tab2">
                                                <h3 class="block">Provide your profile details</h3>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Red_patch_mouth, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Red_patch_mouth)
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.White_patch_mouth, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.White_patch_mouth)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Swelling_mouth, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Swelling_mouth)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Ulcer, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Ulcer)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Leukoplakia, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Leukoplakia)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Erythroplakia, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Erythroplakia)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Extract_socket, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Extract_socket)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Diff_chewing, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Diff_chewing)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Diff_swallowing, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Diff_swallowing)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Diff_speaking, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Diff_speaking)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Diff_moving_tongue, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Diff_moving_tongue)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Diff_spicy_food, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Diff_spicy_food)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Change_voice, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Change_voice)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Breast_Lump, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Breast_Lump)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Nipple_discharge, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Nipple_discharge)
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Foul_smelling, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Foul_smelling)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Post_coidal_bleeding, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Post_coidal_bleeding)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Spotting, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Spotting)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Abnormal_bleeding, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Abnormal_bleeding)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Complaints.Others, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(m => m.Complaints.Others)
                                                    </div>
                                                </div>


                                                <div class="form-group" id="label">
                                                    @Html.LabelFor(model => model.Complaints.Others_specify, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">



                                                        @Html.EditorFor(model => model.Complaints.Others_specify, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Complaints.Others_specify, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="tab-pane" id="tab3">
                                                <h3 class="block">Provide your billing and credit card details</h3>




                                            </div>
                                            <div class="tab-pane" id="tab4">
                                                <h3 class="block">Confirm your account</h3>
                                                <h4 class="form-section">Account</h4>




                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="javascript:;" class="btn default button-previous">
                                                    <i class="m-icon-swapleft"></i> Back
                                                </a>
                                                <a href="javascript:;" class="btn blue button-next">
                                                    Continue <i class="m-icon-swapright m-icon-white"></i>
                                                </a>

                                                <input type="button" value="Submit" class="btn green btn-default" onclick="BtnClick()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT-->


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>


<script>

    $(function () {

      //  $('#label').hide();
        $("[name='Complaints.Others']").click(function () {
            if ($(this).is(':checked')) {
                $('#label').show();
            }
            else {
                $('#label').hide();
            }
        });
    });


   



    function BtnClick() {
        var id = $("#Demos_P_id").val();
        var fname = $("#Demos_Fname").val();
        var mname = $("#Demos_Mname").val();
        var lname = $("#Demos_Lname").val();
        var sex = $(":radio:checked").val();
        var educationid = $("#Demos_Education_id").val();
        var mariatalid = $("#Demos_Mariatal_id").val();
        var religionid = $("#Demos_Religion_id").val();
        var occupationid = $("#Demos_Occupation_id").val();
        var address = $("#Demos_Address").val();
        var pincode = $("#Demos_Pincode").val();

        var redpatchmouth = $("#Complaints_Red_patch_mouth").is(':checked');
        var whitepatchmouth = $("#Complaints_White_patch_mouth").is(':checked');
        var swelling_mouth = $("#Complaints_Swelling_mouth").is(':checked');
        var ulcer = $("#Complaints_Ulcer").is(':checked');
        var leukoplakia = $("#Complaints_Leukoplakia").is(':checked');
        var erythroplakia = $("#Complaints_Erythroplakia").is(':checked');;
        var extract_socket = $("#Complaints_Extract_socket").is(':checked');
        var diff_chewing = $("#Complaints_Diff_chewing").is(':checked');
        var diff_swallowing = $("#Complaints_Diff_swallowing").is(':checked');
        var diff_speaking = $("#Complaints_Diff_speaking").is(':checked');
        var diff_moving_tongue = $("#Complaints_Diff_moving_tongue").is(':checked');
        var diff_spicy_food = $("#Complaints_Diff_spicy_food").is(':checked');
        var change_voice = $("#Complaints_Change_voice").is(':checked');
        var breast_Lump = $("#Complaints_Breast_Lump").is(':checked');
        var nipple_discharge = $("#Complaints_Nipple_discharge").is(':checked');
        var foul_smelling = $("#Complaints_Foul_smelling").is(':checked');
        var post_coidal_bleeding = $("#Complaints_Post_coidal_bleeding").is(':checked');
        var spotting = $("#Complaints_Spotting").is(':checked');
        var abnormal_bleeding = $("#Complaints_Abnormal_bleeding").is(':checked');
        var others = $("#Complaints_Others").is(':checked');
        var others_specify = $("#Complaints_Others_specify").val();

        var obj = {

            Demos:
                {

                    P_id: id,
                    Fname: fname,
                    Mname: mname,
                    Lname: lname,
                    Sex: sex,
                    Education_id: educationid,
                    Mariatal_id: mariatalid,
                    Religion_id: religionid,
                    Occupation_id: occupationid,
                    Address: address,
                    Pincode: pincode
                },
            Complaints:
                {

                    Red_patch_mouth: redpatchmouth,
                    White_patch_mouth: whitepatchmouth,
                    Swelling_mouth: swelling_mouth,
                    Ulcer: ulcer,
                    Leukoplakia: leukoplakia,
                    Erythroplakia: erythroplakia,
                    Extract_socket: extract_socket,
                    Diff_chewing: diff_chewing,
                    Diff_swallowing: diff_swallowing,
                    Diff_speaking: diff_speaking,
                    Diff_moving_tongue: diff_moving_tongue,
                    Diff_spicy_food: diff_spicy_food,
                    Change_voice: change_voice,
                    Breast_Lump: breast_Lump,
                    Nipple_discharge: nipple_discharge,
                    Foul_smelling: foul_smelling,
                    Post_coidal_bleeding: post_coidal_bleeding,
                    Spotting: spotting,
                    Abnormal_bleeding: abnormal_bleeding,
                    Others: others,
                    Others_specify: others_specify
                }



        }

        SubmitForm(obj);
    }


    function SubmitForm(obj) {
        $.ajax({
            url: "/Home/CreatePost",
            method: "POST",
            data: obj,
            success: function (data) {
                alert(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>

<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTAN~ad jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
<script type="text/javascript" src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="~/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
<script src="~/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
<script src="~/assets/admin/pages/scripts/form-wizard.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   // initiate layout and plugins
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
   FormWizard.init();
});
</script>
